body {
  font-family: 'Lato', sans-serif;
}
ul {
  margin: 0;
}
/* MIX */
.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: lightgreen;
}
.bg_light_blue {
  background-color: #2C3E50;
}

.wrapper_small {
  max-width: 800px;
  margin: auto;
}
/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 90px;
  line-height: 90px;
  color: #fff;
}
.nav_left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
}
@media screen and (min-width: 998px) {
  .nav_left a {
    font-size: 28px;
  }
}
.nav_right a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}
.nav_right a:hover {
  color: #1abc9c;
}
/* jumbo */
.jumbo {
  margin-top: 70px;
  padding: 70px 0;
}
.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
}

/* SECTIONS */

/* portfolio */

.box_portfolio {
  height: 250px;
  background-color: blue;
  margin-bottom: 30px;
}

/* FOOTER */

.footer_bottom {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
}
