body {
  font-family: 'Lato', sans-serif;
}
ul {
  margin: 0;
}

/* TYPO */
h1 {
  font-size: 44px;
  font-weight: 700;
  text-transform: uppercase;
}
h2 {
  font-size: 36px;
  font-weight: 700;
}


/* MIX */
.p_top_80 {
  padding-top: 80px;
}
.p_bottom_80 {
  padding-bottom: 80px;
}

.bg_green {
  background-color: #1ABC9C;
}
.bg_light_blue {
  background-color: #2C3E50;
}


.wrapper_small {
  max-width: 700px;
  margin: auto;
}
.star_icon {
  font-size: 40px;
  margin: 20px 20px;
}
.divisor_white hr {
  display: inline-block;
  width: 100px;
  border: 2px solid #fff;
  border-radius: 2px;
}
.divisor_blue hr {
  display: inline-block;
  width: 100px;
  border: 2px solid #2C3E50;
  border-radius: 2px;
}

/* BUTTON */
.btn_green {
  background-color: #1ABC9C;
  font-size: 13px;
  font-weight: bold;
}
.btn_download {
  background-color: #1ABC9C;
  border: 2px solid #fff;
  padding: 16px 28px;
  font-size: 20px;
}
/* HEADER */

/* header top */
.header_top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 1;
  height: 90px;
  line-height: 90px;
  color: #fff;
}
.nav_left a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.nav_right a {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 16px;
  font-weight: 700;
  padding-left: 10px;
}
.nav_right a:hover {
  color: #1abc9c;
}
/* jumbo */
.jumbo {
  margin-top: 70px;
  padding: 70px 0;
}
.jumbo_text {
  max-width: 900px;
  padding: 0 15px;
  margin: auto;
  text-align: center;
  color: #fff;
}
.jumbo_text img {
  width: 240px;
  margin-bottom: 48px;
}

.jumbo_text p {
  font-size: 20px;
}

/* SECTIONS */

/* portfolio */
#portfolio {
  color: #2C3E50;
}

.box_portfolio {
  margin-bottom: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}
.box_portfolio img  {
  width: 100%;
}
.layover {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(26, 188, 156, 0.9);
}
.icon_plus {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  font-size: 80px;
}
.box_portfolio:hover .layover {
  display: block;
  cursor: pointer;
}

/* About */

#about {
  color: #fff;
}
#about p {
  margin-bottom: 20px;
  font-size: 20px;
}
.fa-download {
  margin-right: 10px;
}

/* Contact */


/* FOOTER */

.footer_bottom {
  background-color: blue;
  color: #fff;
  padding: 20px 0;
}
/* RESPONSIVE */

@media screen and (max-width: 767px) {
  .divisor_white hr,  .divisor_blue hr {
    width: 15%;
    max-width: 100px;
  }
}

@media screen and (min-width: 992px) {
  h1 {
    font-size: 64px;
  }
  h2 {
    font-size: 48px;
  }
  .nav_left a {
    font-size: 28px;
  }
  .jumbo_text p {
    font-size: 24px;
  }


}
